@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FF0035;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0%;
    padding: 0%;
}
body { 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_menu_links {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
}
.principal {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.principal_conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.principal_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.principal_titulo_destaque {
    color: var(--cor-terciaria);
}
.principal_texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}
.principal_imagem {
    width: 50%;
}
.principal_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.principal_links_subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;

}
.principal_links_navegacao {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21px 0;
    width: 50%;
    gap: 1rem;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria)

}

.rodape {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding: 1.5rem;
    background-color: var(--cor-terciaria);
    text-align: center;
}
@media (max-width: 1200px) {
    .cabecalho{
    padding: 10%;  
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .principal{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .principal_conteudo{
        width: auto;
    }
}